{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if user.profile.image %}
    <img src="{{ user.profile.image.url }}" width="100" height="100">
    {% else %}
    <img src="{% static 'product/images/default.jpg' %}" alt="the image is not available">
    {% endif %}
    <div>
        {{ form.image.label_tag}}
        {{ form.image}}
        {{ form.image.errors}}
    </div>
    <div>
        {{ form.bio.label_tag}}
        {{ form.bio}}
        {{ form.bio.errors}}
    </div>
    <button type="submit">Save</button>
    </div>
</form>
{% endblock %}