{% extends 'home/base.html' %}
{% block content %}
{% load static %}
<h1>
    {{product.title}}
</h1>
<div>
    description:
    <p>
        {{product.description}}
    </p>
</div>
<div>
    price:
    <p>
        {{product.price}}
    </p>
</div>
<div>
    size:
    <p>
        {{product.size}}
    </p>
</div>
<div>
    comments:
    <p>
        {% for comment in product.comments.all %}
    <p>
            {{comment.body}}
    </p>
        {% endfor %}
    </p>
    <a href="{% url 'product:comment' product.id %}">comment</a>
</div>
<div>
    <div>
        is_active:
        <p>
            {{product.is_active}}
        </p>
    </div>
    <div>
        {% if product.image %}
        <img src="{{ product.image.url }}" alt="the image is not available">
        {% else %}
        <img src="{% static 'product/images/default.jpg' %}" alt="the image is not available">
        {% endif %}
    </div>
    <div>
        <p>
            {{product.description}}
        </p>
    </div>

    <button class="btn btn-secondry" value="{{ product.id }}" id="add-cart" type="button">purchase</button>

    <div class="row justify-content-center">
        <div class="col-md-2">Quantity:</div>
        <div class="col-md-2">
            <select class="form-select form-select-sm"
                    id="qty-cart">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
    </div>


    <script>
        // Check if button pressed
        $(document).on('click', '#add-cart', function(e){
            e.preventDefault();
             product_id = $(this).val();
             let product_qty = $('#qty-cart option:selected').text();
            $.ajax({
                type: 'POST',
                url: '{% url 'cart:add_to_cart' %}',
                data: {
                    product_id: product_id,
                    product_qty: product_qty,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function(json){
                    console.log(json)
                    document.getElementById('cart_quantity').textContent = json.qty
                    console.log("SPAN:", document.getElementById("cart_quantity"));
                    console.log("QTY:", json.qty);
                },

                error: function(xhr, errmsg, err){}
            });
        })
    </script>

    {% endblock %}
