# Python
pycache/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Django stuff
*.log
local_settings.py
db.sqlite3
media/

# Environment variables
.env

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db

# Static files (if collected)
staticfiles/