{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<h1>
    WELCOME TO THE SHOP
</h1>

<div class="container">
    <div class="row">
        <p>
            {% for product in products %}
        <div class="col-md-4">
            <div class="card">
                <div class="cart-body">
                    <h4>
                        <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                    </h4>
                    {% if product.image %}
                    <img src="{{ product.image.url }}" alt="the image is not available">
                    {% else %}
                    <img src="{% static 'product/images/default.jpg' %}" alt="the image is not available">
                    {% endif %}
                    <p>
                        {{product.description}}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
        </p>
    </div>
</div>

{% endblock %}